[Unit]
Description=Wake on lan server timer

[Timer]
OnCalendar=*-*-* 5:30
Persistent=true
Unit=wake-on-lan-home-server.service

[Install]
WantedBy=timers.target
